<!--活跃用户数量-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日一次</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">周一次</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月一次</button>
        </div>
        <div class="col-lg-1">
            <button name="active" id="active">活跃度</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        var options = {
            render : 'day_canvasDiv',
            data: '',
            align:'center',
            title : 'DAU',
            subtitle : '每天活跃用户人数(访问量单位：万)',
            footnote : '数据来源：活跃用户数量',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };

        $.ajax({
            url: '/activeUser?option=day',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var data = [
                    {
                        name : '活跃用户数量',
                        value:result.data,
                        color:'#0d8ecf',
                        line_width:2
                    }
                ];
                options.data = data;
                var line = new iChart.LineBasic2D(options);
                line.draw();
                var html = "";
                html += "<tr>";
                html+="<td>DAU</td>";
                if(result.data.length){
                    result.data.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                }
                html += "</tr>";
                $('tbody').empty().html(html);
            }
        });
        $('#day').on('click',function(){
            $('.day_canvasDiv').css('display','block');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.active_canvasDiv').css('display','none');
        });

        $('#week').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','block');
            $('.month_canvasDiv').css('display','none');
            $('.active_canvasDiv').css('display','none');
            //动态调用数据
            $.ajax({
                url:'/activeUser?option=week',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    result = result.data;
                    var data = [
                        {
                            name : '活跃用户数量',
                            value:result,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'week_canvasDiv';
                    options.title = 'WAU';
                    options.coordinate.grids.vertical.value = 51;
                    options.coordinate.scale[1].labels = week_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();
                    var html = "";
                    html += "<tr>";
                    html+="<td>WAU</td>";
                    if(result.length){
                        result.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });
        });


        $('#month').on('click',function(){
            $('.month_canvasDiv').css('display','block');
            $('.week_canvasDiv').css('display','none');
            $('.day_canvasDiv').css('display','none');
            $('.active_canvasDiv').css('display','none');
            //动态调用数据
            $.ajax({
                url:'/activeUser?option=month',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    result = result.data;
                    var data = [
                        {
                            name : 'MAU',
                            value:result,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'month_canvasDiv';
                    options.title = 'MAU';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    //开始画图
                    line.draw();
                    var html = "";
                    html += "<tr>";
                    html+="<td>MAU</td>";
                    if(result.length){
                        result.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });
        });
        $('#active').on('click',function(){
            $('.active_canvasDiv').css('display','block');
            $('.month_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.day_canvasDiv').css('display','none');

            $.ajax({
                url:'/activeUser?option=active',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    result = result.data;
                    var data = [
                        {
                            name : 'DAU/MAU',
                            value:result,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'active_canvasDiv';
                    options.title = 'DAU/MAU';
                    options.coordinate.grids.vertical.value = 30;
                    options.coordinate.scale[1].labels = day_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();

                    var html = "";
                    html += "<tr>";
                    html+="<td>DAU/MAU</td>";
                    if(result.length){
                        result.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });


        });

    });

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='day_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>活跃用户</td>
                <% day.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="week_canvasDiv" style="display: none">
        <div id='week_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<53;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="month_canvasDiv" style="display: none">
        <div id='month_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="active_canvasDiv"  style="display: none">
        <div id='active_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>

<% include footer.ejs %>