<!--用户的留存率-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="tomorrow" id="tomorrow">次日</button>
        </div>
        <div class="col-lg-1">
            <button name="three" id="three">3日</button>
        </div>
        <div class="col-lg-1">
            <button name="seven" id="seven">7日</button>
        </div>
        <div class="col-lg-1">
            <button name="thirty" id="thirty">30日</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        //初始化标签
        $('#mark').val('/remainUsers?option=day');
        var three_labels = [];
        var seven_labels = week_labels;
        var thirty_labels = month_labels;
        for(var i=0;i<10;i++){
            three_labels[i] = i + 1;
        }

        var options = {
            render : 'tomorrow_canvasDiv',
            data: '',
            align:'center',
            title : '次日留存率',
            subtitle : '',
            footnote : '数据来源：用户留存率',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };
        $.ajax({
            url:'/remainUsers?option=day',
            type:'get',
            dataType:'json',
            async:false,
            success:function( result ){
                var data = [
                    {
                        name : '次日留存',
                        value:result.day,
                        color:'#0d8ecf',
                        line_width:2
                    }
                ];
                options.data = data;
                var line = new iChart.LineBasic2D( options );
                //开始画图
                line.draw();
                var html = "";
                html += "<tr>";
                html += "<td>次日留存率</td>";
                if(result.day.length){
                    result.day.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                }
                html += "</tr>";
                $('tbody').empty().html(html);
            }
        });
        $('#tomorrow').on('click',function(){
            $('.tomorrow_canvasDiv').css('display','block');
            $('.three_canvasDiv').css('display','none');
            $('.seven_canvasDiv').css('display','none');
            $('.thirty_canvasDiv').css('display','none');

        });

        $('#three').on('click',function(){
            $('.tomorrow_canvasDiv').css('display','none');
            $('.three_canvasDiv').css('display','block');
            $('.seven_canvasDiv').css('display','none');
            $('.thirty_canvasDiv').css('display','none');
            //动态调用数据
            $.ajax({
                url:'/remainUsers?option=three',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '3日留存',
                            value:result.three,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'three_canvasDiv';
                    options.title = '3日留存';
                    options.coordinate.grids.vertical.value = 9;
                    options.coordinate.scale[1].labels = three_labels;
                    var line = new iChart.LineBasic2D( options );
                    //开始画图
                    line.draw();
                    var html = "";
                    html += "<tr>";
                    html += "<td>3日留存率</td>";
                    if(result.three.length){
                        result.three.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });
        });

        $('#seven').on('click',function(){
            $('.tomorrow_canvasDiv').css('display','none');
            $('.three_canvasDiv').css('display','none');
            $('.seven_canvasDiv').css('display','block');
            $('.thirty_canvasDiv').css('display','none');

            //动态调用数据
            $.ajax({
                url:'/remainUsers?option=week',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '7日留存',
                            value:result.week,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'seven_canvasDiv';
                    options.title = '7日留存';
                    options.coordinate.grids.vertical.value = 51;
                    options.coordinate.scale[1].labels = seven_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    html += "<tr>";
                    html += "<td>7日留存率</td>";
                    if(result.week.length){
                        result.week.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });
        });

        $('#thirty').on('click',function(){
            $('.tomorrow_canvasDiv').css('display','none');
            $('.three_canvasDiv').css('display','none');
            $('.seven_canvasDiv').css('display','none');
            $('.thirty_canvasDiv').css('display','block');
            //动态调用数据
            $.ajax({
                url:'/remainUsers?option=month',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '30日留存',
                            value:result.month,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'thirty_canvasDiv';
                    options.title = '30日留存';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = thirty_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    html += "<tr>";
                    html += "<td>30日留存率</td>";
                    if(result.month.length){
                        result.month.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                    }
                    html += "</tr>";
                    $('tbody').empty().html(html);
                }
            });
        });
    });

</script>
<div class="col-lg-12">
    <div class="tomorrow_canvasDiv">
        <div id='tomorrow_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>次日留存率</td>
                <% day.forEach(function( a ){%>
                    <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="three_canvasDiv" style="display: none">
        <div id='three_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<11;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="seven_canvasDiv" style="display: none">
        <div id='seven_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<53;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="thirty_canvasDiv" style="display: none">
        <div id='thirty_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<% include footer.ejs %>