<!--流失用户数及流失率-->
<% include nav.ejs %>

<script type="text/javascript" src="/js/ichartjs/ichart.1.2.min.js"></script>
<link rel="stylesheet" href="/css/ichartjs/demo.css" type="text/css"/>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日流失</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月流失</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">高活流失</button>
        </div>

        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        var active = [90000,90000,98000,90000,97000,99000,90000,90000,98000,92000,97000,99000,90000,90000,98000,90000,97000,99000,90000,97000,98000,92000,97000,99000,92000,93000,96000,91000,94000,94000,92000];

        var day_labels = [];
        var week_labels = [];
        var month_labels = [];
        for(var i=0;i<31;i++){
            day_labels[i] = i + 1;
        }
        for(var i=0;i<52;i++){
            week_labels[i] = i + 1;
        }
        for(var i=0;i<12;i++){
            month_labels[i] = i + 1;
        }
        var data = [
            {
                name : '活跃用户数量',
                value:active,
                color:'#0d8ecf',
                line_width:2
            }
        ];

        var options = {
            render : 'canvasDiv',
            data: data,
            align:'center',
            title : '每日用户流失率',
            subtitle : '平均每月的人数(访问量单位：万)',
            footnote : '数据来源：用户流失',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };
        var line = new iChart.LineBasic2D(options);

        //开始画图
        line.draw();
        $('#day').on('click',function(){
            $('.day_canvasDiv').css('display','block');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
        });

        $('#week').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','block');
            $('.month_canvasDiv').css('display','none');
            options.render = 'week_canvasDiv';
            options.title = '高活跃用户流失率';
            options.coordinate.grids.vertical.value = 51;
            options.coordinate.scale[1].labels = week_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();

        });

        $('#month').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','block');
            options.render = 'month_canvasDiv';
            options.title = '每月用户流失率';
            options.coordinate.grids.vertical.value = 11;
            options.coordinate.scale[1].labels = month_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
    });

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>日期</th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>每日用户流失</td>
                <% day_lost.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>每日用户流失率</td>
                <% day_lost_.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="month_canvasDiv" style="display: none">
        <div id='month_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>日期</th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>每月用户流失</td>
                <% day_lost.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>每月用户流失率</td>
                <% day_lost_.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="week_canvasDiv"  style="display: none">
        <div id='week_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>日期</th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>高活跃用户流失</td>
                <% day_lost.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>高活跃用户流失率</td>
                <% day_lost_.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<% include footer.ejs %>