<!--充值用户统计-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="charge_user" id="charge_user">充值用户</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_convert" id="charge_convert">付费转化</button>
        </div>
        <div class="col-lg-1">
            <button name="month_charge" id="month_charge">月均充值</button>
        </div>
        <div class="col-lg-1">
            <button name="loyal_charge" id="loyal_charge">忠实付费</button>
        </div>
        <div class="col-lg-1">
            <button name="eff_user" id="eff_user">高效用户</button>
        </div>
        <div class="col-lg-1">
            <button name="first_charge" id="first_charge">首次付费率</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        //初始化日期插件
        $("#datePicker").datepicker( dateOption );
        var options = {
            render : 'charge_user_canvasDiv',
            data:'',
            align:'center',
            title : '付费用户数量 新增付费数量',
            subtitle : '',
            footnote : '数据来源：充值用户统计',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:11//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:month_labels
                }]
            }
        };
        $.ajax({
            url: '/chargeCount?option=chargeUser',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var data = [
                    {
                        name : '付费用户数量',
                        value:result.data1,
                        color:'#0d8ecf',
                        line_width:2
                    },
                    {
                        name : '新增付费数量',
                        value:result.data2,
                        color:'#66FF33',
                        line_width:2
                    }
                ];
                options.data = data;
                options.render = 'charge_user_canvasDiv';
                options.title = '付费用户数量/新增付费数量';
                options.coordinate.grids.vertical.value = 11;
                options.coordinate.scale[1].labels = month_labels;
                var line = new iChart.LineBasic2D(options);
                //开始画图
                line.draw();
                var html = "";

                if(result.data1.length){
                    html += "<tr>";
                    html += "<td>付费用户数量</td>";
                    result.data1.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                    html += "</tr>";
                }
                if(result.data2.length){
                    html += "<tr>";
                    html += "<td>新增付费数量</td>";
                    result.data2.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                    html += "</tr>";
                }
                $('tbody').empty().html(html);
            }
        });
        $('#charge_user').on('click',function(){
            $('.charge_user_canvasDiv').css('display','block');
            $('.charge_convert_canvasDiv').css('display','none');
            $('.month_charge_canvasDiv').css('display','none');
            $('.loyal_charge_canvasDiv').css('display','none');
            $('.eff_user_canvasDiv').css('display','none');
            $('.first_charge_canvasDiv').css('display','none');
        });
        $('#charge_convert').on('click',function(){
            $('.charge_user_canvasDiv').css('display','none');
            $('.charge_convert_canvasDiv').css('display','block');
            $('.month_charge_canvasDiv').css('display','none');
            $('.loyal_charge_canvasDiv').css('display','none');
            $('.eff_user_canvasDiv').css('display','none');
            $('.first_charge_canvasDiv').css('display','none');
            $.ajax({
                url: '/chargeCount?option=convert',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '付费渗透比例',
                            value:result.data1,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'charge_convert_canvasDiv';
                    options.title = '付费渗透比例';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";

                    if(result.data1.length){
                        html += "<tr>";
                        html += "<td>付费渗透比例</td>";
                        result.data1.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });

        });

        $('#month_charge').on('click',function(){
            $('.charge_user_canvasDiv').css('display','none');
            $('.charge_convert_canvasDiv').css('display','none');
            $('.month_charge_canvasDiv').css('display','block');
            $('.loyal_charge_canvasDiv').css('display','none');
            $('.eff_user_canvasDiv').css('display','none');
            $('.first_charge_canvasDiv').css('display','none');
            $.ajax({
                url: '/chargeCount?option=monthCharge',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '付费用户月均充值次数',
                            value:result.data1,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'month_charge_canvasDiv';
                    options.title = '付费用户月均充值次数';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    if(result.data1.length){
                        html += "<tr>";
                        html += "<td>付费用户月均充值次数</td>";
                        result.data1.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });
        });

        $('#loyal_charge').on('click',function(){
            $('.charge_user_canvasDiv').css('display','none');
            $('.charge_convert_canvasDiv').css('display','none');
            $('.month_charge_canvasDiv').css('display','none');
            $('.loyal_charge_canvasDiv').css('display','block');
            $('.eff_user_canvasDiv').css('display','none');
            $('.first_charge_canvasDiv').css('display','none');
            $.ajax({
                url: '/chargeCount?option=loyal',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '忠实付费用户数',
                            value:result.data1,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'loyal_charge_canvasDiv';
                    options.title = '忠实付费用户数';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    if(result.data1.length){
                        html += "<tr>";
                        html += "<td>忠实付费用户数</td>";
                        result.data1.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });
        });

        $('#eff_user').on('click',function(){
            $('.charge_user_canvasDiv').css('display','none');
            $('.charge_convert_canvasDiv').css('display','none');
            $('.month_charge_canvasDiv').css('display','none');
            $('.loyal_charge_canvasDiv').css('display','none');
            $('.eff_user_canvasDiv').css('display','block');
            $('.first_charge_canvasDiv').css('display','none');
            $.ajax({
                url: '/chargeCount?option=effective',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '高效付费用户数',
                            value:result.data1,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'eff_user_canvasDiv';
                    options.title = '高效付费用户数';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    if(result.data1.length){
                        html += "<tr>";
                        html += "<td>高效付费用户数</td>";
                        result.data1.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });
        });

        $('#first_charge').on('click',function(){
            $('.charge_user_canvasDiv').css('display','none');
            $('.charge_convert_canvasDiv').css('display','none');
            $('.month_charge_canvasDiv').css('display','none');
            $('.loyal_charge_canvasDiv').css('display','none');
            $('.eff_user_canvasDiv').css('display','none');
            $('.first_charge_canvasDiv').css('display','block');
            $.ajax({
                url: '/chargeCount?option=first',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '用户首次付费率',
                            value:result.data1,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'first_charge_canvasDiv';
                    options.title = '用户首次付费率';
                    options.coordinate.grids.vertical.value = 30;
                    options.coordinate.scale[1].labels = day_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                    var html = "";
                    if(result.data1.length){
                        html += "<tr>";
                        html += "<td>用户首次付费率</td>";
                        result.data1.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
    });

</script>
<div class="col-lg-12">
    <div class="charge_user_canvasDiv">
        <div id='charge_user_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>付费用户数量</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>新增付费数量</td>
                <% ARPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="charge_convert_canvasDiv" style="display: none">
        <div id='charge_convert_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>付费渗透比例</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="month_charge_canvasDiv" style="display: none">
        <div id='month_charge_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>付费用户月均充值次数</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="loyal_charge_canvasDiv" style="display: none">
        <div id='loyal_charge_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>忠实付费用户数</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="eff_user_canvasDiv" style="display: none">
        <div id='eff_user_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>高效付费用户数</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="first_charge_canvasDiv" style="display: none">
        <div id='first_charge_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<32;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>用户首次付费率</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<% include footer.ejs %>