<!--付费用户流失-->
<% include nav.ejs %>

<script type="text/javascript" src="/js/ichartjs/ichart.1.2.min.js"></script>
<link rel="stylesheet" href="/css/ichartjs/demo.css" type="text/css"/>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="lost_back" id="lost_back">流失和回流</button>
        </div>
        <div class="col-lg-1">
            <button name="lost_per" id="lost_per">流失比例</button>
        </div>

        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        var click    = [90000,90000,98000,90000,97000,99000,90000,90000,98000,92000,97000,99000,90000,90000,98000,90000,97000,99000,90000,97000,98000,92000,97000,99000,92000,93000,96000,91000,94000,94000,92000],
                register = [70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000];

        var data = [
            {
                name : '点击次数',
                value:click,
                color:'#0d8ecf',
                line_width:2
            },
            {
                name : '注册次数',
                value:register,
                color:'#66FF33',
                line_width:2
            }
        ];

        var labels = []; //= ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"];
        for(var i=0;i<12;i++){
            labels[i] = i+1;
        }
        var options = {
            render : 'lost_back_canvasDiv',
            data: data,
            align:'center',
            title : '流失回流付费用户数',
            subtitle : '平均每月的人数(访问量单位：万)',
            footnote : '数据来源：流失回流付费用户数',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:11//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:labels
                }]
            }
        };
        var line = new iChart.LineBasic2D( options );

        //开始画图
        line.draw();
        $('#lost_back').on('click',function(){
            $('.lost_back_canvasDiv').css('display','block');
            $('.lost_per_canvasDiv').css('display','none');
        });
        $('#lost_per').on('click',function(){
            $('.lost_back_canvasDiv').css('display','none');
            $('.lost_per_canvasDiv').css('display','block');
            options.render = 'lost_per_canvasDiv';
            options.title = '付费用户流失比例';
            options.coordinate.grids.vertical.value = 11;
            options.coordinate.scale[1].labels = labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
    });

</script>
<div class="col-lg-12">
    <div class="lost_back_canvasDiv">
        <div id='lost_back_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>流失付费用户数</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>回流付费用户数</td>
                <% ARPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="lost_per_canvasDiv" style="display: none">
        <div id='lost_per_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>流失付费用户数</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            <tr>
                <td>回流付费用户数</td>
                <% ARPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<% include footer.ejs %>